<p id="notice"><%= notice %></p>

<p>
  <b>System:</b>
  <%= @system.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @nav_entry.parent.content if @nav_entry.parent %>
</p>

<p>
  <b>Seq:</b>
  <%= @nav_entry.seq %>
</p>

<p>
  <b>Content:</b>
  <%= @nav_entry.content %>
</p>

<p>
  <b>Description:</b>
  <%= @nav_entry.description %>
</p>


<%= link_to 'Edit', edit_system_nav_entry_path(@system, @nav_entry) %> |
<%= link_to 'Back', system_nav_entries_path(@system) %>
